    

body {
    margin: 0; /* fazer isso pra tirar uma pequena margem que fica */
    padding: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
}

.logo {
    line-height: 40px;
    float: left;
    font-weight: bolder;
    color: #fff;
    position: relative;
    margin: 1.2em 0 0 2.2em;
}

div.menu {
    line-height: 40px;
    position: absolute;
    right: 0;
}

div.menu ul li {
    list-style: none;
    display: inline-block;
}

div.banner {
    background: url(../imagem/fundo.png) no-repeat 50% 50%; /* usar '..' pra adicionar fotos pelo css */
    background-size: cover; /* pra imagem ficar do tamanho da tela */
    width: 100%;
    height: 100vh;

}





div.menu ul li a {
    display: inline-block;
    color: #fff;
    padding-right: 36px;
    text-decoration: none;
    transition: 0.7s;
}

div.menu li a:hover {
    color: #bdc3c7;
}

div.banner h1 {
    position: relative;
    text-align: center;
    margin: 0;
    color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;

}

div.banner h2 {
    text-align: center;
    margin: 0;
    color: #FFD700;
    top: 51%;
    transform: translateY(-51%);
    position: relative;

}

div.teste {
    background-color:  #DBDBDB;

}


section#sobre h2 {
    position: relative;
    text-align: center;
    top: 30px;
    font-size: 50px;
    transform: translateY(-10%);
    margin: 0;
    padding: 0;
}

section#sobre p {
    position: relative;
    text-align: justify;
    text-indent: 18px;
    margin-right: 57%;
    margin-left: 10px;
    padding: 0;
    margin-bottom: 0;
}

div.barra-vermelha {
    width: 100px;
    height: 3px;
    background: black;
    margin: 40px auto;
}

div.inferno-cu a {
    position: relative;
    color: #e74c3c;
    text-decoration: none;
    border: 2px solid #e74c3e;
    border-radius: 20px;
    padding: 8px 40px;
    transition: 0.4s linear;
    top: 25px;
    margin: 11px;

}

div.inferno-cu a:hover {
    color: #ffffff;
    background: #e74c3e;
}

div.skills {
    position: relative;
    left: 50%;
    transform: translateY(-50%);
    bottom: 118px;
    margin: 2px;
}

div.skill {
    position: relative;
    margin-top: 30px;
    bottom: 9px;

}

div.barra-p {
    width: 48%;
    height: 12px;
    background: #7f8c8d;
    border-radius: 12px;

}

div.progresso {
    height: 12px;
    background: #e74c3e;
    border-radius: 12px;
}

.p1 {
    width: 90%
}

.p2 {
    width: 70%;
}

.p3 {
    width: 50%;
}

div.progresso span {
    float: right;
    margin-right: 6px;
    line-height: 13px;
    color: white;
}

h3#um {
    position: relative;
    text-align: justify;
    left: 91.5%;
    bottom: 14px;
    color: #7f8c8d;
    font-weight: bold;
    font-size: 12px;
}

h3#dois {
    position: relative;
    text-align: justify;
    left: 88.5%;
    bottom: 14px;
    color: #7f8c8d;
    font-weight: bold;
    font-size: 12px;
}

h3#tres {
    position: relative;
    text-align: justify;
    left: 83.5%;
    bottom: 14px;
    color: #7f8c8d;
    font-weight: bold;
    font-size: 12px;
}

div.footer {
    background-color: black;
}