    

body {
    margin: 0; /* fazer isso pra tirar uma pequena margem que fica */
    padding: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    height: 80px;
    position: absolute;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;

}

.logo {
    line-height: 40px; /* altura */
    float: left;
    font-weight: bolder;
    color: #fff;
    position: relative;
    margin: 20px 0 0 3.2em;
    font-size: 26px;
}

div.menu {
    line-height: 49px;
    position: absolute;
    right: 0;
}

div.menu ul li {
    list-style: none;
    display: inline-block; /* pro mennu ficar em linha */
}

div.banner {
    background: url(../imagem/christopher-gower-291246-unsplasha.png) no-repeat 50% 50%; /* usar '..' pra adicionar fotos pelo css */
    background-size: cover; /* pra imagem ficar do tamanho da tela */
    width: 100%;
    height: 100vh;

}

div.menu ul li a {
    color: #fff;
    padding-right: 36px; /* espaço entre as palavras */
    text-decoration: none; /* tirar o sublinhado que geralmente vem */
    transition: 0.7s;
}

div.menu li a:hover {
    color: #bdc3c7;
}

div.banner h1 {
    position: relative;
    text-align: center; /* pro texto ficar no centro */
    margin: 0;
    color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px; /* tamanho do texto */

}

div.banner h2 {
    text-align: center; /* pro texto ficar no centro */
    margin: 0;
    color: #FFD700;
    top: 51%;
    transform: translateY(-51%);
    position: relative;

}

div.secao-sobre {
    background-color: #f1f1f1;
    width: 100%; /* o width maximo da secao sobre é de 100% */
    padding: 30px 0;

}

section {
    margin: auto; /* margem automática para todos os lados dentro de 1000px */
    padding: 0 20px;
    max-width: 1000px; /* o width maximo da section é 100px */

}

div.socorro {
    display: flex;


}

.conteudo-sobre {
    flex: 50%;
}

section#sobre h2 {
    position: relative;
    text-align: center;
    top: 10px;
    font-size: 50px;
    transform: translateY(-10%);
    margin: 0;
    padding: 0;
}

section#sobre p {
    position: relative;
    text-align: justify;
    text-indent: 18px;
    padding: 0;
    margin-bottom: 0;
    bottom: 14px;
}

div.barra-vermelha {
    width: 100px;
    height: 3px;
    background: black;
    margin: 40px auto;
}

div.inferno-cu a {
    position: relative;
    color: #e74c3c;
    text-decoration: none;
    border: 2px solid #e74c3e;
    border-radius: 20px;
    padding: 8px 40px;
    transition: 0.4s linear;
    top: 8px;

}

div.inferno-cu a:hover {
    color: #ffffff;
    background: #e74c3e;
}

div.skills {
    padding-left: 30px;
}

div.skill {
    margin-bottom: 27px;

}

div.barra-p {
    width: 100%;
    height: 12px;
    background: #7f8c8d;
    border-radius: 12px;

}

div.progresso {
    height: 12px;
    background: #e74c3e;
    border-radius: 12px;
}

.p1 {
    width: 90%
}

.p2 {
    width: 70%;
}

.p3 {
    width: 50%;
}

div.progresso span {
    float: right;
    margin-right: 6px;
    line-height: 10px;
    color: white;
}

h3#um {
    position: relative;
    text-align: justify;
    float: right;
    bottom: 14px;
    color: #7f8c8d;
    font-weight: bold;
    font-size: 12px;
}

h3#dois {
    position: relative;
    text-align: justify;
    bottom: 14px;
    color: #7f8c8d;
    font-weight: bold;
    font-size: 12px;
}

h3#tres {
    position: relative;
    text-align: justify;
    bottom: 14px;
    color: #7f8c8d;
    font-weight: bold;
    font-size: 12px;
}

footer {
    background-color: #2d3436;
}